/* reset 重置样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}


.container {
    width: 1200px;
    /*  */
    margin: 0 auto;
    overflow: hidden;
}

.container .header {
    height: 100px;
}

.container .header .nav {
    height: 100px;
    /* background-color: #f60; */
    float: right;
}

.container .header .nav ul {
    line-height: 100px;
}

.container .header .nav ul li {
    display: inline-block;
    line-height: 40px;
    width: 102px;
    height: 40px;
    /* background-color: #EBEBEB; */
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.container .header .nav ul li:hover {
    background-color: #EBEBEB;

}

.container .header .nav ul li .sub-nav {
    position: absolute;
    top: 100px;
    background-color: #EBEBEB;
    width: 182px;
    opacity: 0;

    transition: all 0.3s ease;
}

.container .header .nav ul li:hover .sub-nav {
    opacity: 1;
    top: 70px;
}

.container .header .nav ul li .sub-nav div {
    width: 142px;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
}

.container .header .nav ul li .sub-nav div a {
    color: #999;
}

.container .header .nav ul li .sub-nav div a:hover {
    color: #000;
}

.container .banner {
    overflow: hidden;
    position: relative;
    /* 行块和行快之间有间隙 */
    font-size: 0;
    /* 去除间隙 */
}

.container .banner .sweeper {
    width: 2400px;
    transition: all 0.5s ease;
}

/* .banner .sweeper a{
    display: none;
}

#brush1:checked ~ .sweeper a:nth-child(1),
#brush2:checked ~ .sweeper a:nth-child(2) {
    display: block;
} */

#brush2:checked~.sweeper {
    transform: translateX(-1200px);
}

[type="radio"] {
    display: none;
}

.buttons {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #aaa9a9;
}

#brush1:checked~.buttons label:nth-child(1),
#brush2:checked~.buttons label:nth-child(2) {
    background-color: #fff;
}

.container .main {
    margin-top: 56px;
}

.container .main .main-left {
    float: left;
}

.container .main .main-right {
    /* float: right; */
    margin-left: 416px;
}

.top {
    position: relative;
}

.title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 25px;
    color: #000000;
}

.content {
    font-size: 14px;
    color: #666;
    line-height: 28px;
}

.more {
    position: absolute;
    bottom: 0;
    right: 90px;
}

.more a {
    text-align: center;
    display: inline-block;
    width: 90px;
    line-height: 30px;
    height: 30px;
    background-color: #555;
    font-size: 14px;
    color: #000000;
}

.more a:hover {
    background-color: #777;
}

.more a:nth-child(1) {
    position: absolute;
    right: 0;
    /* bottom: 20px; */
}

.more a:nth-child(2) {
    position: absolute;
    /* bottom: 20px; */
    top: 20px;
    font-size: 12px;
    color: #fff;
}

.bottom {
    margin-top: 90px;
    font-size: 0;
}

.bottom a {
    display: inline-block;
    position: relative;
}

.bottom a:nth-child(2) {
    margin-left: 22px;
}

.bottom a span {
    text-align: center;
    display: inline-block;
    font-size: 12px;
    width: 140px;
    height: 42px;
    line-height: 42px;
    border: 3px solid #fff;
    color: #fff;
    position: absolute;
    /* 上下左右同时居中 */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: scale(2);
    transition: transform 0.3s ease , opacity 0.3s ease;
    opacity: 0;
}

.bottom a:hover span {
    opacity: 1;
    transform: scale(1);


    /* transform: scale(0.9) translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

.bottom  a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 380px;
    height: 240px;
    background: rgb(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s ease;
}
.bottom  a:hover::after{
    opacity: 1;
}


.main-left{
    transform: translateX(-380px);
    animation: run 0.5s ease forwards;
}
.main-right{
    transform: translateX(784px);
    animation: run 0.5s ease forwards;
}

@keyframes run {
    
    100%{
        transform: translateX(0);
    }
    
}

.list{
    text-align: left;
    /* display: flex; */
 
 
    /* justify-content: space-between; */
}


.list div p:hover{
    transform: rotateY(70deg);
    transition: all 0.3s ease;
}

